menu "Hardware Drivers Config"

config SOC_STM32F407IG
    bool
    select SOC_SERIES_STM32F4
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Onboard Peripheral Drivers"

endmenu

menu "On-chip Peripheral Drivers"
    config BSP_USING_PIN
        bool "Enable PIN"
        default y

    config BSP_USING_UART
        bool "Enable UART"
        default y

endmenu

menu "Board extended module Drivers"

endmenu

menu "Development Tools"

    config BSP_USING_EASYFLASH
        bool "Enable EasyFlash"
        default n

endmenu

endmenu
